<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{Fragments.html :: head('Trip-Weaver | Create Trip')}"></head>

<body class="page-search">

<!-- Loader-->
<div id="page-preloader"><span class="spinner border-t_second_b border-t_prim_a"></span></div>
<!-- Loader end-->


<div class="page-wrapper">
    <header th:replace="~{Fragments.html :: page-header}"></header>
    <main class="page-main">
        <div class="section-banner">
            <div th:replace="~{Fragments.html :: email-verification-message}"></div>
        </div>
        <div class="main-search-grid uk-grid uk-child-width-1-2@xl uk-grid-match uk-grid-collapse" data-uk-grid>
            <div>
                <div class="main-search-section main-search-section--left">
                    <div class="search-box">
                        <div class="search-box__title">Where do you want to go?</div>
                        <form id="create-travel-form" action="#" th:object="${travelDto}" method="post"
                              th:action="@{/travels/new}">
                            <div class="search-form">
                                <div class="uk-grid uk-child-width-1-2@s uk-grid-collapse" data-uk-grid>
                                    <div class="uk-inline uk-width-1-1">
                                        <input class="input-place uk-input"
                                               type="text"
                                               name="Starting Point City"
                                               placeholder="Starting Point City"
                                               th:field="*{startingPointCity}"
                                               pattern="^(?!\s*$).+"
                                               title="Starting point city cannot be empty."
                                               required>
                                        <label class="error" th:errors="*{startingPointCity}"> Title
                                            placeholder. </label>
                                        <!--<i class="fas fa-map-marker-alt"> </i>-->
                                    </div>
                                    <div class="uk-inline uk-width-1-1">
                                        <input class="uk-input"
                                               type="text"
                                               name="Starting Point Address"
                                               placeholder="Starting Point Address"
                                               th:field="*{startingPointAddress}"
                                               pattern="^(?!\s*$).+"
                                               title="Starting point address cannot be empty."
                                               required>
                                        <label class="error" th:errors="*{startingPointAddress}"> Title
                                            placeholder. </label>
                                    </div>
                                    <div class="uk-inline uk-width-1-1">
                                        <input class="uk-input"
                                               type="text"
                                               name="Ending Point City"
                                               placeholder="Ending Point City"
                                               th:field="*{endingPointCity}"
                                               pattern="^(?!\s*$).+"
                                               title="Ending point city cannot be empty."
                                               required>
                                        <label class="error" th:errors="*{endingPointCity}"> Title placeholder. </label>
                                    </div>
                                    <div class="uk-inline uk-width-1-1">
                                        <input class="uk-input"
                                               type="text"
                                               name="Ending Point Address"
                                               placeholder="Ending Point Address (Optional)"
                                               th:field="*{endingPointAddress}"
                                               required>
                                    </div>
                                    <div><input class="uk-input" type="datetime-local"
                                                th:field="*{departureTime}"
                                                placeholder="Date / Time" required>
                                        <label class="error" th:errors="*{departureTime}"> Title placeholder. </label>
                                    </div>
                                    <div>
                                        <input class="input-user uk-input" type="text" th:field="*{freeSeats}"
                                               placeholder="No. of Passenger(s)" required>
                                        <label class="error" th:errors="*{freeSeats}"
                                        > Title placeholder. </label>
                                    </div>
                                    <div class="uk-width-1-1">
                                        <textarea class="uk-textarea" name="comment" th:field="*{comment}"
                                                  placeholder="Comment (Optional)"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="search-form-btn">
                                <button class="uk-button uk-button-danger" type="submit"><span
                                        class="uk-margin-small-right" data-uk-icon="search"> </span><span>CREATE</span>
                                </button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
            <div class="uk-background-muted">
                <div class="main-search-section">
                    <div class="main-search-map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d42289.67767859017!2d23.31213988817146!3d42.69770830062205!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40aa85744c414d53%3A0xe9263a7db74d5b89!2sSofia%2C%20Bulgaria!5e0!3m2!1sen!2sus!4v1646379184966!5m2!1sen!2sus"
                                loading="lazy"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <!-- Additional blocks-->
    <div th:replace="~{Fragments.html :: additional-blocks}"></div>
    <!--Footer-->
    <footer th:replace="~{Fragments.html :: footer}"></footer>
</div>
<div th:replace="~{Fragments.html::script}"></div>

</body>
</html>