<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Home page</title>
    <meta content="Chernyh Mihail" name="author">
    <meta content="GetRider" name="description">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="HandheldFriendly" content="true">
    <meta name="format-detection" content="telephone=no">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <link rel="stylesheet" href="../static/assets/css/uikit.min.css" th:href="@{/assets/css/uikit.min.css}">
    <link rel="stylesheet" href="../static/assets/css/all.min.css" th:href="@{/assets/css/all.min.css}">
    <link rel="stylesheet" href="../static/assets/css/datepicker.min.css" th:href="@{/assets/css/datepicker.min.css}">
    <link rel="stylesheet" href="../static/assets/css/main.css" th:href="@{/assets/css/main.css}">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>
</head>

<body class="page-home">

<!-- Loader-->
<div id="page-preloader"><span class="spinner border-t_second_b border-t_prim_a"></span></div>
<!-- Loader end-->


<div class="page-wrapper">
    <header class="page-header">
        <div class="page-header__scroll" data-uk-sticky>
            <div class="uk-container">
                <div class="page-header__inner">
                    <div class="page-header__logo">
                        <div class="logo"><a class="logo__link" href="non-usable-index.html"><img class="logo__img"
                                                                                                  src="../static/assets/img/logo.png"
                                                                                                  th:src="@{/assets/img/logo.png}"
                                                                                                  alt="GetRider"></a>
                        </div>
                    </div>
                    <div class="page-header__menu">
                        <nav class="page-nav" data-uk-navbar="">
                            <ul class="uk-navbar-nav">
                                <li><a href="03_blog-1.html"> <img src="../static/assets/img/person-244.svg"
                                                                   th:src="@{/assets/img/person-244.svg}" data-uk-svg
                                                                   alt="person">Access</a>
                                    <div class="uk-navbar-dropdown">
                                        <ul th:unless="${isAuthenticated}" class="uk-nav uk-navbar-dropdown-nav">
                                            <li><a href="#" th:href="@{/auth/register}">Register</a></li>
                                            <li><a href="#" th:href="@{/auth/login}">Login</a></li>
                                        </ul>
                                        <ul th:if="${isAuthenticated}" class="uk-nav uk-navbar-dropdown-nav">
                                            <li><a href="#" >Profile</a></li>
                                            <li><a href="#" th:href="@{/auth/logout}">Logout</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li><a href="02-search-1.html"> <img src="../static/assets/img/search.svg"
                                                                     th:src="@{/assets/img/search.svg}" data-uk-svg
                                                                     alt="search">Find Trip</a>
                             <!--       <div class="uk-navbar-dropdown">
                                        <ul class="uk-nav uk-navbar-dropdown-nav">
                                            <li><a href="02-search-1.html">Find a Ride</a></li>
                                            <li><a href="02-search-2.html">Find a Ride Map</a></li>
                                            <li><a href="02-search-3.html">Find a Ride Result</a></li>
                                        </ul>
                                    </div>-->
                                </li>
                                <li><a href="07_typography.html"> <img src="../static/assets/img/car.svg"
                                                                       th:src="@{/assets/img/car.svg}" data-uk-svg
                                                                       alt="car">Create Trip</a></li>
                                <li><a href="06_contact.html"> <img src="../static/assets/img/help2.svg"
                                                                    th:src="@{/assets/img/help2.svg}" data-uk-svg
                                                                    alt="help2">About</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div th:if="${isAuthenticated}" class="page-header__phone"><a class="uk-button uk-button-danger" > <img
                            src="../static/assets/img/account_circle.svg" th:src="@{/assets/img/account_circle.svg}" alt="call" data-uk-svg>
                        <span th:text="${loggedUser.getUsername()}"></span></a>
                    </div>
                    <div th:if="${isAuthenticated}" class="page-header__phone"><a class="uk-button uk-button-danger" href="#" th:href="@{/auth/logout}"> <img
                            src="../static/assets/img/logout.svg" th:src="@{/assets/img/logout.svg}" alt="call" data-uk-svg>
                        <span>Logout</span></a>
                    </div>
                    <div th:unless="${isAuthenticated}" class="page-header__phone"><a class="uk-button uk-button-danger" href="#" th:href="@{/auth/login}"> <img
                            src="../static/assets/img/login.svg" th:src="@{/assets/img/login.svg}" alt="call" data-uk-svg>
                        <span>Login</span></a>
                    </div>
                    <div class="page-header__btn"><a class="uk-button uk-button-danger" href="#offcanvas" data-uk-toggle
                                                     data-uk-icon="menu"></a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main class="page-main">
        <div class="section-banner">
            <div class="section-banner__bg">
                <div class="uk-cover-container"><img src="../static/assets/img/img-banner.jpg"
                                                     th:src="@{/assets/img/img-banner.jpg}" alt="img-banner"
                                                     data-uk-cover>
                    <canvas></canvas>
                </div>
            </div>
            <div class="section-banner__content uk-text-center">
                <div class="uk-overlay uk-position-center-left uk-width-1-1">
                    <div class="uk-container uk-width-1-1">
                        <div class="section-banner__title"><span>Find a ride today! Try Trip-Weaver</span>
                            <h1 class="decor-top">Need to Travel? Get a lift<br> or Find a free seat</h1>
                        </div>
                        <div class="section-banner__btn"><a class="uk-button uk-button-default"
                                                            href="#" th:href="@{/auth/register}">Register</a></div>
                    </div>
                </div>
            </div>
        </div>
        <!--<div class="section-popular-places">
          <div class="uk-container">
            <div class="popular-places">
              <div class="popular-places__head">
                <div class="popular-places__title">Where do you want a ride today?</div>
                <div class="popular-places__more"> <a href="02-search-3.html">More Popular Places </a></div>
              </div>
              <div class="popular-places__body">
                <div class="uk-grid uk-child-width-1-3@m" data-uk-grid>
                  <div>
                    <div class="popular-places-item"><a class="popular-places-item__link" href="02-search-1.html"><span class="popular-places-item__title">London <small>to</small> Manchester</span><span class="popular-places-item__price">$5</span><span data-uk-icon="chevron-right"></span></a></div>
                  </div>
                  <div>
                    <div class="popular-places-item"><a class="popular-places-item__link" href="02-search-2.html"><span class="popular-places-item__title">Belarus <small>to</small> Russia</span><span class="popular-places-item__price">$10</span><span data-uk-icon="chevron-right"></span></a></div>
                  </div>
                  <div>
                    <div class="popular-places-item"><a class="popular-places-item__link" href="02-search-3.html"><span class="popular-places-item__title">Florida  <small>to</small>  Newyork</span><span class="popular-places-item__price">$8</span><span data-uk-icon="chevron-right"></span></a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>-->
        <div class="section-steps">
            <div class="uk-section uk-container">
                <div class="section-title uk-text-center">
                    <div class="uk-h2">How It Works</div>
                </div>
                <div class="section-content">
                    <div data-uk-slider="finite: true">
                        <div class="uk-position-relative" tabindex="-1">
                            <ul class="uk-slider-items uk-grid uk-grid-large uk-child-width-1-1 uk-child-width-1-2@s uk-child-width-1-3@m">
                                <li>
                                    <div class="step-item">
                                        <div class="step-item__icon">
                                            <div class="step-item__icon-box"><img src="../static/assets/img/step-1.png"
                                                                                  th:src="@{/assets/img/step-1.png}"
                                                                                  alt="ico-step"></div>
                                        </div>
                                        <div class="step-item__title">Find Your Ride</div>
                                        <div class="step-item__text">Search for available travel options from one
                                            location to another, either as a passenger looking to join an existing trip
                                            or as a driver offering a ride to others.
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="step-item">
                                        <div class="step-item__icon">
                                            <div class="step-item__icon-box"><img src="../static/assets/img/step-2.png"
                                                                                  th:src="@{/assets/img/step-2.png}"
                                                                                  alt="ico-step"></div>
                                        </div>
                                        <div class="step-item__title">Select & Apply</div>
                                        <div class="step-item__text">Choose your ride and apply for a spot before it's
                                            too late.
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="step-item">
                                        <div class="step-item__icon">
                                            <div class="step-item__icon-box"><img src="../static/assets/img/step-3.png"
                                                                                  th:src="@{/assets/img/step-3.png}"
                                                                                  alt="ico-step"></div>
                                        </div>
                                        <div class="step-item__title">Travel Together</div>
                                        <div class="step-item__text">Enjoy your travel alongside other people from our
                                            website and share your experience.
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin-medium-top"></ul>
                    </div>
                </div>
            </div>
        </div>

        <!--Top 10 Drivers-->
        <div class="section-best-drivers">
            <div class="uk-background-muted">
                <div class="uk-section uk-container">
                    <div class="section-title uk-text-center">
                        <div class="uk-h2">Our Best Drivers</div>
                        <p>Check out our top ten travel organizers</p>
                    </div>
                    <div class="section-content">
                        <div class="uk-grid uk-grid-medium uk-child-width-1-2@s uk-child-width-1-3@m" data-uk-grid>
                            <div th:each="driver : ${topTenTravelOrganizers}">
                                <div class="driver-card">
                                    <div class="driver-card__media"><img src="../static/assets/img/car-1.jpg"
                                                                         th:src="@{/assets/img/car-1.jpg}" alt="car">
                                    </div>
                                    <div class="driver-card__body">
                                        <div class="driver-card__user"><img
                                                th:src="${driver.getAvatar().getAvatarUrl()}" alt="driver-pic"><span
                                                th:text="${driver.getUsername()}">Username</span></div>
                                        <div class="driver-card__info">
                                            <div class="driver-card__date"
                                                 th:text="${#temporals.format(driver.getCreated(), 'yyyy-MMM-dd')}">Wed,
                                                8 January<br> at 2:00 PM
                                            </div>
                                            <div class="driver-card__price">Avg. Driver Rating: <b
                                                    th:text="${driver.getAverageDriverRating()}"></b></div>
                                        </div>
                                        <div class="driver-card__services">
                                            <ul>
                                                <li><img src="../static/assets/img/mode_of_travel.svg"
                                                         th:src="@{/assets/img/mode_of_travel.svg}"
                                                         alt="driver-service"><span th:text="'Total Distance: ' +
                                                         ${driverTotalDistance.get(driver.getUsername())} + ' km'">100 km</span>
                                                </li>
                                                <li><img src="../static/assets/img/directions_car.svg"
                                                         th:src="@{/assets/img/directions_car.svg}"
                                                         alt="driver-service"><span th:text="'Total Travels: ' +
                                                         ${driverTotalTravels.get(driver.getUsername())}">10</span></li>
                                                <li><img src="../static/assets/img/mail.svg"
                                                         th:src="@{/assets/img/mail.svg}" alt="driver-service"><span
                                                        th:text="${driver.getEmail()}">Email</span></li>
                                                <li><img src="../static/assets/img/phone.svg"
                                                         th:src="@{/assets/img/phone.svg}" alt="driver-service"><span
                                                        th:text="${driver.getPhoneNumber()}">Phone number</span></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Top 10 Passengers-->
        <div class="section-best-drivers">
            <div class="uk-background-muted">
                <div class="uk-section uk-container">
                    <div class="section-title uk-text-center">
                        <div class="uk-h2">Highest Rated Passengers</div>
                        <p>Check out our top ten passengers</p>
                    </div>
                    <div class="section-content">
                        <div class="uk-grid uk-grid-medium uk-child-width-1-2@s uk-child-width-1-3@m" data-uk-grid>
                            <div th:each="passenger : ${topTenPassengers}">
                                <div class="driver-card">
                                    <div class="driver-card__media"><img src="../static/assets/img/blog-thumb-2.jpg"
                                                                         th:src="@{/assets/img/blog-thumb-2.jpg}"
                                                                         alt="car">
                                    </div>
                                    <div class="driver-card__body">
                                        <div class="driver-card__user"><img
                                                th:src="${passenger.getAvatar().getAvatarUrl()}" alt="driver-pic"><span
                                                th:text="${passenger.getUsername()}">Username</span></div>
                                        <div class="driver-card__info">
                                            <div class="driver-card__date"
                                                 th:text="${#temporals.format(passenger.getCreated(), 'yyyy-MMM-dd')}">
                                                Wed,
                                                8 January<br> at 2:00 PM
                                            </div>
                                            <div class="driver-card__price">Avg. Passenger Rating: <b
                                                    th:text="${passenger.getAveragePassengerRating()}"></b></div>
                                        </div>
                                        <div class="driver-card__services">
                                            <ul>
                                                <li><img src="../static/assets/img/mode_of_travel.svg"
                                                         th:src="@{/assets/img/mode_of_travel.svg}"
                                                         alt="driver-service"><span th:text="'Total Distance: ' +
                                                         ${passengerTotalDistance.get(passenger.getUsername())} + ' km'">100 km</span>
                                                </li>
                                                <li><img src="../static/assets/img/directions_car.svg"
                                                         th:src="@{/assets/img/directions_car.svg}"
                                                         alt="driver-service"><span th:text="'Total Travels: ' +
                                                         ${passengerTotalTravels.get(passenger.getUsername())}">10</span>
                                                </li>
                                                <li><img src="../static/assets/img/mail.svg"
                                                         th:src="@{/assets/img/mail.svg}" alt="driver-service"><span
                                                        th:text="${passenger.getEmail()}">Email</span></li>
                                                <li><img src="../static/assets/img/phone.svg"
                                                         th:src="@{/assets/img/phone.svg}" alt="driver-service"><span
                                                        th:text="${passenger.getPhoneNumber()}">Phone number</span></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--About-->
        <div class="section-about">
            <div class="section-about__img"><img src="../static/assets/img/img-car.png"
                                                 th:src="@{/assets/img/img-car.png}" alt=""></div>
            <div class="uk-section uk-container">
                <div class="uk-grid uk-child-width-1-2@m" data-uk-grid>
                    <div>
                        <div class="section-title">
                            <div class="uk-h2">About Trip-Weaver</div>
                        </div>
                        <div class="section-content">
                            <ul class="about-list">
                                <li>
                                    <div class="about-list-item">
                                        <div class="about-list-item__icon"><img src="../static/assets/img/about-1.svg"
                                                                                th:src="@{/assets/img/about-1.svg}"
                                                                                alt="ico-about" data-uk-svg></div>
                                        <div class="about-list-item__desc">
                                            <div class="about-list-item__title">Efficient Travel Sharing</div>
                                            <div class="about-list-item__desc">Our web application, Trip-Weaver,
                                                facilitates seamless sharing of travel plans between users, allowing
                                                individuals to organize shared trips or join existing ones effortlessly.
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="about-list-item">
                                        <div class="about-list-item__icon"><img src="../static/assets/img/about-2.svg"
                                                                                th:src="@{/assets/img/about-2.svg}"
                                                                                alt="ico-about" data-uk-svg></div>
                                        <div class="about-list-item__desc">
                                            <div class="about-list-item__title">User-Friendly Interface</div>
                                            <div class="about-list-item__desc">With intuitive features for both
                                                anonymous
                                                and authenticated users, Trip-Weaver offers a user-friendly experience,
                                                enabling easy registration, trip creation, and browsing of available
                                                rides.
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="about-list-item">
                                        <div class="about-list-item__icon"><img src="../static/assets/img/about-3.svg"
                                                                                th:src="@{/assets/img/about-3.svg}"
                                                                                alt="ico-about" data-uk-svg></div>
                                        <div class="about-list-item__desc">
                                            <div class="about-list-item__title">Robust Feedback System</div>
                                            <div class="about-list-item__desc">Trip-Weaver ensures transparency and
                                                accountability through its feedback system, allowing passengers to rate
                                                and leave comments for drivers, and vice versa, fostering a
                                                community-driven approach to travel sharing.
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="uk-visible@m"></div>
                </div>
            </div>
        </div>

        <!--Total Travels, Total Users, Total 5-Star Reviews-->
        <div class="section-location">
            <div class="uk-section uk-container">
                <div class="location">
                    <div class="uk-grid uk-grid-small uk-child-width-1-2@m" data-uk-grid>
                        <div>
                            <div class="location__title">We Have Now <b th:text="${totalTravelsCount}"></b> Completed
                                Travels
                            </div>
                            <div class="location__text">At Trip-Weaver, our mission is to revolutionize the way people
                                commute by providing a platform that promotes sustainable and cost-effective travel
                                solutions. Whether you're looking to reduce your carbon footprint, save money on
                                transportation, or simply enjoy the company of fellow travelers, Trip-Weaver offers a
                                convenient and reliable solution. Join our growing community today and embark on a
                                journey towards a more connected and eco-friendly future!"
                            </div>
                            <!--<div class="uk-grid uk-child-width-1-2" data-uk-grid>
                                <div>
                                    <div class="location-contact-item">
                                        <div class="location-contact-item__icon"><i class="fas fa-phone-alt"></i></div>
                                        <div class="location-contact-item__desc">
                                            <div class="location-contact-item__title">For Booking Rides</div>
                                            <div class="location-contact-item__phone"><a href="tel:5804037961">(580) 403
                                                7961</a></div>
                                            <div class="location-contact-item__time">We are available 24/7</div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="location-contact-item">
                                        <div class="location-contact-item__icon"><i class="fas fa-phone-alt"></i></div>
                                        <div class="location-contact-item__desc">
                                            <div class="location-contact-item__title">Got any questions?</div>
                                            <div class="location-contact-item__phone"><a href="tel:4315292093">(431) 529
                                                2093</a></div>
                                            <div class="location-contact-item__time">We are available 24/7</div>
                                        </div>
                                    </div>
                                </div>
                            </div>-->
                        </div>
                        <div>
                            <div class="location__map"><img class="location__img"
                                                            src="../static/assets/img/img-location-map.png"
                                                            th:src="@{/assets/img/img-location-map.png}"
                                                            alt="img-location-map">
                                <ul class="location__numbers">
                                    <li><span th:text="${totalUsersCount}"></span><span>Total Users</span></li>
                                    <li><span
                                            th:text="${fiveStarRatingFeedbackCount}"></span><span>5 Star Reviews</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Customer Reviews-->
        <div class="section-reviews">
            <div class="uk-section uk-container">
                <div class="section-title uk-text-center">
                    <div class="uk-h2">Customer Reviews</div>
                </div>
                <div class="section-content">
                    <div class="reviews-slider">
                        <div data-uk-slideshow="max-height: 270; min-height: 250; animation: scale">
                            <div class="reviews-slider__users">
                                <ul>
                                    <li class="uk-animation-scale-up" data-uk-slideshow-item="0"><img
                                            class="uk-width-1-1" src="../static/assets/img/img-reviews.jpg"
                                            th:src="@{/assets/img/img-reviews.jpg}" alt="img-reviews"></li>
                                    <li class="uk-animation-scale-up" data-uk-slideshow-item="1"><img
                                            class="uk-width-1-1" src="../static/assets/img/img-reviews.jpg"
                                            th:src="@{/assets/img/img-reviews.jpg}" alt="img-reviews"></li>
                                    <li class="uk-animation-scale-up" data-uk-slideshow-item="2"><img
                                            class="uk-width-1-1" src="../static/assets/img/img-reviews.jpg"
                                            th:src="@{/assets/img/img-reviews.jpg}" alt="img-reviews"></li>
                                </ul>
                            </div>
                            <div class="reviews-slider__content">
                                <div class="reviews-slider__box">
                                    <ul class="uk-slideshow-items">
                                        <li>
                                            <div class="reviews-slider-item">
                                                <div class="reviews-slider-item__text">Carpooling turned my daily
                                                    commute
                                                    from a grueling solo expedition into a road trip with new buddies!
                                                    Plus, now I have someone to blame for all those traffic jams -
                                                    thanks, fellow passengers!
                                                </div>
                                                <div class="reviews-slider-item__user">Happy Commuter</div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="reviews-slider-item">
                                                <div class="reviews-slider-item__text">As someone who's always been a
                                                    bit skeptical of sharing a confined space with strangers, Carpooling
                                                    pleasantly surprised me! Turns out, the only thing we shared was
                                                    laughter and some top-notch playlists. Five stars for making my
                                                    rides more memorable!
                                                </div>
                                                <div class="reviews-slider-item__user">Joyful Passenger</div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="reviews-slider-item">
                                                <div class="reviews-slider-item__text">Finally, a solution for my 'long
                                                    drives are just long periods of staring at the road' problem!
                                                    Carpooling not only saved me some serious cash on gas but also
                                                    introduced me to some interesting characters. 5/5 would share
                                                    snacks again!
                                                </div>
                                                <div class="reviews-slider-item__user">Snack Enthusiast</div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="reviews-slider__dots">
                                <ul class="uk-slideshow-nav uk-dotnav uk-flex uk-flex-center"></ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Blog-->
        <!--<div class="section-blog">
            <div class="uk-background-muted">
                <div class="uk-section uk-container">
                    <div class="section-title uk-text-center">
                        <div class="uk-h2">Latest From Blog</div>
                        <p>Eorem ipsum dolor sit amet consectetur adipisicing elit edolore magna<br> aliqua ut enim ad
                            minim veniam quis aliquip consequat</p>
                    </div>
                    <div class="section-content">
                        <div data-uk-slider>
                            <div class="uk-position-relative" tabindex="-1">
                                <ul class="uk-slider-items uk-grid uk-child-width-1-1 uk-child-width-1-2@s uk-child-width-1-3@m">
                                    <li>
                                        <div class="blog-card">
                                            <div class="blog-card__box">
                                                <div class="blog-card__media"><a href="05_blog-post.html"><img
                                                        src="../static/assets/img/blog-thumb-1.jpg"
                                                        th:src="@{/assets/img/blog-thumb-1.jpg}"
                                                        alt="Making car rentals easy for customers"/></a>
                                                    <div class="blog-card__date"><span>Jan</span><span>17</span></div>
                                                </div>
                                                <div class="blog-card__body">
                                                    <div class="blog-card__info">
                                                        <div class="blog-card__author"><i class="fas fa-user"></i>Stephen
                                                            Moya
                                                        </div>
                                                        <div class="blog-card__category"><i
                                                                class="fas fa-folder-open"></i>Car Hire
                                                        </div>
                                                    </div>
                                                    <div class="blog-card__title"><a href="05_blog-post.html">Making car
                                                        rentals easy for customers</a></div>
                                                    <div class="blog-card__intro">
                                                        <p>Incididunt ut labore et dolore magna aliqua laboris
                                                            nisialiquip ex loea Lorem ipsum dolor eiusmod tempor
                                                            incididunt ...</p>
                                                    </div>
                                                    <div class="blog-card__more"><a class="uk-button uk-button-default"
                                                                                    href="05_blog-post.html">Read
                                                        more</a></div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="blog-card">
                                            <div class="blog-card__box">
                                                <div class="blog-card__media"><a href="05_blog-post.html"><img
                                                        src="../static/assets/img/blog-thumb-2.jpg"
                                                        th:src="@{/assets/img/blog-thumb-2.jpg}"
                                                        alt="Enjoy your family trips with full happiness"/></a>
                                                    <div class="blog-card__date"><span>Jan</span><span>25</span></div>
                                                </div>
                                                <div class="blog-card__body">
                                                    <div class="blog-card__info">
                                                        <div class="blog-card__author"><i class="fas fa-user"></i>Stephen
                                                            Moya
                                                        </div>
                                                        <div class="blog-card__category"><i
                                                                class="fas fa-folder-open"></i>Car Hire
                                                        </div>
                                                    </div>
                                                    <div class="blog-card__title"><a href="05_blog-post.html">Enjoy your
                                                        family trips with full happiness</a></div>
                                                    <div class="blog-card__intro">
                                                        <p>Incididunt ut labore et dolore magna aliqua laboris
                                                            nisialiquip ex loea Lorem ipsum dolor eiusmod tempor
                                                            incididunt ...</p>
                                                    </div>
                                                    <div class="blog-card__more"><a class="uk-button uk-button-default"
                                                                                    href="05_blog-post.html">Read
                                                        more</a></div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="blog-card">
                                            <div class="blog-card__box">
                                                <div class="blog-card__media"><a href="05_blog-post.html"><img
                                                        src="../static/assets/img/blog-thumb-3.jpg"
                                                        th:src="@{/assets/img/blog-thumb-3.jpg}"
                                                        alt="Quick hire with no-extra charges at all"/></a>
                                                    <div class="blog-card__date"><span>Feb</span><span>10</span></div>
                                                </div>
                                                <div class="blog-card__body">
                                                    <div class="blog-card__info">
                                                        <div class="blog-card__author"><i class="fas fa-user"></i>Stephen
                                                            Moya
                                                        </div>
                                                        <div class="blog-card__category"><i
                                                                class="fas fa-folder-open"></i>Car Hire
                                                        </div>
                                                    </div>
                                                    <div class="blog-card__title"><a href="05_blog-post.html">Quick hire
                                                        with no-extra charges at all</a></div>
                                                    <div class="blog-card__intro">
                                                        <p>Incididunt ut labore et dolore magna aliqua laboris
                                                            nisialiquip ex loea Lorem ipsum dolor eiusmod tempor
                                                            incididunt ...</p>
                                                    </div>
                                                    <div class="blog-card__more"><a class="uk-button uk-button-default"
                                                                                    href="05_blog-post.html">Read
                                                        more</a></div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="blog-card">
                                            <div class="blog-card__box">
                                                <div class="blog-card__media"><a href="05_blog-post.html"><img
                                                        src="../static/assets/img/blog-thumb-1.jpg"
                                                        th:src="@{/assets/img/blog-thumb-1.jpg}"
                                                        alt="Making car rentals easy for customers"/></a>
                                                    <div class="blog-card__date"><span>Jan</span><span>17</span></div>
                                                </div>
                                                <div class="blog-card__body">
                                                    <div class="blog-card__info">
                                                        <div class="blog-card__author"><i class="fas fa-user"></i>Stephen
                                                            Moya
                                                        </div>
                                                        <div class="blog-card__category"><i
                                                                class="fas fa-folder-open"></i>Car Hire
                                                        </div>
                                                    </div>
                                                    <div class="blog-card__title"><a href="05_blog-post.html">Making car
                                                        rentals easy for customers</a></div>
                                                    <div class="blog-card__intro">
                                                        <p>Incididunt ut labore et dolore magna aliqua laboris
                                                            nisialiquip ex loea Lorem ipsum dolor eiusmod tempor
                                                            incididunt ...</p>
                                                    </div>
                                                    <div class="blog-card__more"><a class="uk-button uk-button-default"
                                                                                    href="05_blog-post.html">Read
                                                        more</a></div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin-top"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>-->
    </main>

    <!--Footer-->
    <footer class="page-footer">
        <div class="uk-container">
            <div class="page-footer__inner">
                <div class="page-footer__logo">
                    <div class="logo"><a class="logo__link" href="/"><img class="logo__img"
                                                                          src="../static/assets/img/logo-white.png"
                                                                          th:src="@{/assets/img/logo-white.png}"
                                                                          alt="Trip-Weaver"></a></div>
                </div>
                <div class="page-footer__text">
                    <p>Start sharing rides and reducing your carbon footprint with Trip-Weaver today!</p>
                </div>
                <div class="page-footer__copy"><span>(c) 2024 All rights reserved.</span></div>
            </div>

            <!-- Additional blocks-->
        </div>
        <div id="offcanvas" data-uk-offcanvas="overlay: true">
            <div class="uk-offcanvas-bar uk-flex uk-flex-column uk-flex-between">
                <button class="uk-offcanvas-close" type="button" data-uk-close=""></button>
                <div class="uk-margin">
                    <div class="uk-margin-bottom">
                        <div class="logo"><a class="logo__link" href="/"><img class="logo__img"
                                                                              src="../static/assets/img/logo-white.png"
                                                                              th:src="@{/assets/img/logo-white.png}"
                                                                              alt="GetRider"></a></div>
                    </div>
                    <div class="uk-margin">
                        <ul class="uk-nav uk-nav-default uk-nav-parent-icon" data-uk-nav>
                            <li class="uk-parent"><a href="#"> <img src="../static/assets/img/search.svg"
                                                                    th:src="@{/assets/img/search.svg}" data-uk-svg
                                                                    alt="search">Find a Ride</a>
                            </li>
                            <li><a href="07_typography.html"> <img src="../static/assets/img/car.svg"
                                                                   th:src="@{/assets/img/car.svg}" data-uk-svg
                                                                   alt="car">Create Trip</a></li>
                            <li><a href="06_contact.html"> <img src="../static/assets/img/help2.svg"
                                                                th:src="@{/assets/img/help2.svg}" data-uk-svg
                                                                alt="help2">About</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div th:if="${isAuthenticated}" class="page-header__phone"><a class="uk-button uk-button-danger" > <img
                        src="../static/assets/img/account_circle.svg" th:src="@{/assets/img/account_circle.svg}" alt="call" data-uk-svg>
                    <span th:text="${loggedUser.getUsername()}"></span></a>
                </div>
                <div th:if="${isAuthenticated}" class="page-header__phone"><a class="uk-button uk-button-danger" href="#" th:href="@{/auth/logout}"> <img
                        src="../static/assets/img/logout.svg" th:src="@{/assets/img/logout.svg}" alt="call" data-uk-svg>
                    <span>Logout</span></a>
                </div>
                <div th:unless="${isAuthenticated}" class="page-header__phone"><a class="uk-button uk-button-danger" href="#" th:href="@{/auth/login}"> <img
                        src="../static/assets/img/login.svg" th:src="@{/assets/img/login.svg}" alt="call" data-uk-svg>
                    <span>Login</span></a>
                </div>
            </div>
        </div>

        <div class="uk-flex-top" id="callback" data-uk-modal="">
            <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
                <button class="uk-modal-close-default" type="button" data-uk-close=""></button>
                <p>Start sharing rides and reducing your carbon footprint with Trip-Weaver today!</p>
            </div>
        </div>
        <!-- End Additional blocks-->

    </footer>

</div>
<script src="../static/assets/js/jquery.min.js" th:src="@{/assets/js/jquery.min.js}"></script>
<script src="../static/assets/js/uikit.min.js" th:src="@{/assets/js/uikit.min.js}"></script>
<script src="../static/assets/js/uikit-icons.min.js" th:src="@{/assets/js/uikit-icons.min.js}"></script>
<script src="../static/assets/js/datepicker.min.js" th:src="@{/assets/js/datepicker.min.js}"></script>
<script src="../static/assets/js/i18n/datepicker.en.js" th:src="@{/assets/js/datepicker.en.js}"></script>
<script src="../static/assets/js/main.js" th:src="@{/assets/js/main.js}"></script>
</body>

</html>