<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{Fragments.html :: head('Trip-Weaver | Home')}"></head>

<body class="page-home">

<!-- Loader-->
<div id="page-preloader"><span class="spinner border-t_second_b border-t_prim_a"></span></div>
<!-- Loader end-->


<div class="page-wrapper">
    <header th:replace="~{Fragments.html :: page-header}"></header>
    <main class="page-main">
        <div class="section-banner">
            <div class="section-banner__bg">
                <div class="uk-cover-container"><img src="../static/assets/img/img-banner.jpg"
                                                     th:src="@{/assets/img/img-banner.jpg}" alt="img-banner"
                                                     data-uk-cover>
                    <canvas></canvas>
                </div>
            </div>
            <div class="section-banner__content uk-text-center">
                <div class="uk-overlay uk-position-center-left uk-width-1-1">
                    <div class="uk-container uk-width-1-1">
                        <div class="section-banner__title"><span>Find a ride today! Try Trip-Weaver</span>
                            <h1 class="decor-top">Need to Travel? Get a lift<br> or Find a free seat</h1>
                        </div>
                        <div class="section-banner__btn"><a class="uk-button uk-button-default"
                                                            href="#" th:href="@{/auth/register}">Register</a></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section-steps">
            <div class="uk-section uk-container">
                <div class="section-title uk-text-center">
                    <div class="uk-h2">How It Works</div>
                </div>
                <div class="section-content">
                    <div data-uk-slider="finite: true">
                        <div class="uk-position-relative" tabindex="-1">
                            <ul class="uk-slider-items uk-grid uk-grid-large uk-child-width-1-1 uk-child-width-1-2@s uk-child-width-1-3@m">
                                <li>
                                    <div class="step-item">
                                        <div class="step-item__icon">
                                            <div class="step-item__icon-box"><img src="../static/assets/img/step-1.png"
                                                                                  th:src="@{/assets/img/step-1.png}"
                                                                                  alt="ico-step"></div>
                                        </div>
                                        <div class="step-item__title">Find Your Ride</div>
                                        <div class="step-item__text">Search for available travel options from one
                                            location to another, either as a passenger looking to join an existing trip
                                            or as a driver offering a ride to others.
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="step-item">
                                        <div class="step-item__icon">
                                            <div class="step-item__icon-box"><img src="../static/assets/img/step-2.png"
                                                                                  th:src="@{/assets/img/step-2.png}"
                                                                                  alt="ico-step"></div>
                                        </div>
                                        <div class="step-item__title">Select & Apply</div>
                                        <div class="step-item__text">Choose your ride and apply for a spot before it's
                                            too late.
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="step-item">
                                        <div class="step-item__icon">
                                            <div class="step-item__icon-box"><img src="../static/assets/img/step-3.png"
                                                                                  th:src="@{/assets/img/step-3.png}"
                                                                                  alt="ico-step"></div>
                                        </div>
                                        <div class="step-item__title">Travel Together</div>
                                        <div class="step-item__text">Enjoy your travel alongside other people from our
                                            website and share your experience.
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin-medium-top"></ul>
                    </div>
                </div>
            </div>
        </div>

        <!--Top 10 Drivers-->
        <div class="section-best-drivers">
            <div class="uk-background-muted">
                <div class="uk-section uk-container">
                    <div class="section-title uk-text-center">
                        <div class="uk-h2">Our Best Drivers</div>
                        <p>Check out our top twelve travel organizers</p>
                    </div>
                    <div class="section-content">
                        <div class="uk-grid uk-grid-medium uk-child-width-1-2@s uk-child-width-1-3@m" data-uk-grid>
                            <div th:each="driver : ${topTenTravelOrganizers}">
                                <div class="driver-card">
                                    <div class="driver-card__media">
                                        <a th:href="@{/users/{id}(id=${driver.getUserId()})}">
                                            <img src="../static/assets/img/car-1.jpg"
                                                 th:src="${driver.getCarPicture().getCarPictureUrl()}">
                                        </a>
                                    </div>
                                    <div class="driver-card__body">
                                        <div class="driver-card__user">
                                            <a th:href="@{/users/{id}(id=${driver.getUserId()})}">
                                                <img th:src="${driver.getAvatar().getAvatarUrl()}"
                                                     alt="driver-pic"><span
                                                    th:text="${driver.getUsername()}">Username</span>
                                            </a>
                                        </div>
                                        <div class="driver-card__info">
                                            <div class="driver-card__date"
                                                 th:text="${#temporals.format(driver.getCreated(), 'yyyy-MMM-dd')}">Wed,
                                                8 January<br> at 2:00 PM
                                            </div>
                                            <div class="driver-card__price">Avg. Driver Rating: <b
                                                    th:text="${driver.getAverageDriverRating()}"></b></div>
                                        </div>
                                        <div class="driver-card__services">
                                            <ul>
                                                <li><img src="../static/assets/img/mode_of_travel.svg"
                                                         th:src="@{/assets/img/mode_of_travel.svg}"
                                                         alt="driver-service"><span th:text="'Total Distance: ' +
                                                         ${driverTotalDistance.get(driver.getUsername())} + ' km as Driver'">100 km</span>
                                                </li>
                                                <li><img src="../static/assets/img/directions_car.svg"
                                                         th:src="@{/assets/img/directions_car.svg}"
                                                         alt="driver-service"><span th:text="'Total Travels: ' +
                                                         ${driverTotalTravels.get(driver.getUsername())}">10</span></li>
                                                <li><img src="../static/assets/img/mail.svg"
                                                         th:src="@{/assets/img/mail.svg}" alt="driver-service"><span
                                                        th:text="${driver.getEmail()}">Email</span></li>
                                                <li><img src="../static/assets/img/phone.svg"
                                                         th:src="@{/assets/img/phone.svg}" alt="driver-service"><span
                                                        th:text="${driver.getPhoneNumber()}">Phone number</span></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Top 10 Passengers-->
        <div class="section-best-drivers">
            <div class="uk-background-muted">
                <div class="uk-section uk-container">
                    <div class="section-title uk-text-center">
                        <div class="uk-h2">Highest Rated Passengers</div>
                        <p>Check out our top twelve passengers</p>
                    </div>
                    <div class="section-content">
                        <div class="uk-grid uk-grid-medium uk-child-width-1-2@s uk-child-width-1-3@m" data-uk-grid>
                            <div th:each="passenger : ${topTenPassengers}">
                                <div class="driver-card">
                                    <div class="driver-card__media flex-box-center-items">
                                        <div class="user-box__avatar " id="all-travels-box-avatar-car-home">
                                            <a th:href="@{/users/{id}(id=${passenger.getUserId()})}">
                                                <img th:src="${passenger.getAvatar().getAvatarUrl()}"
                                                     alt="driver-pic">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="driver-card__body">
                                        <div class="driver-card__user"><!--<img
                                                th:src="${passenger.getAvatar().getAvatarUrl()}" alt="driver-pic">-->
                                            <a th:href="@{/users/{id}(id=${passenger.getUserId()})}">
                                            <span
                                                    th:text="${passenger.getUsername()}">Username</span>
                                            </a>
                                        </div>
                                        <div class="driver-card__info">
                                            <div class="driver-card__date"
                                                 th:text="${#temporals.format(passenger.getCreated(), 'yyyy-MMM-dd')}">
                                                Wed,
                                                8 January<br> at 2:00 PM
                                            </div>
                                            <div class="driver-card__price">Avg. Passenger Rating: <b
                                                    th:text="${passenger.getAveragePassengerRating()}"></b></div>
                                        </div>
                                        <div class="driver-card__services">
                                            <ul>
                                                <li><img src="../static/assets/img/mode_of_travel.svg"
                                                         th:src="@{/assets/img/mode_of_travel.svg}"
                                                         alt="driver-service"><span th:text="'Total Distance: ' +
                                                         ${passengerTotalDistance.get(passenger.getUsername())} + ' km as Passenger'">100 km</span>
                                                </li>
                                                <li><img src="../static/assets/img/directions_car.svg"
                                                         th:src="@{/assets/img/directions_car.svg}"
                                                         alt="driver-service"><span th:text="'Total Travels: ' +
                                                         ${passengerTotalTravels.get(passenger.getUsername())}">10</span>
                                                </li>
                                                <li><img src="../static/assets/img/mail.svg"
                                                         th:src="@{/assets/img/mail.svg}" alt="driver-service"><span
                                                        th:text="${passenger.getEmail()}">Email</span></li>
                                                <li><img src="../static/assets/img/phone.svg"
                                                         th:src="@{/assets/img/phone.svg}" alt="driver-service"><span
                                                        th:text="${passenger.getPhoneNumber()}">Phone number</span></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--About-->
        <div class="section-about">
            <div class="section-about__img"><img
                    src="https://images.unsplash.com/photo-1624880056139-d1212d7ff347?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"

                    alt=""></div>
            <div class="uk-section uk-container">
                <div class="uk-grid uk-child-width-1-2@m" data-uk-grid>
                    <div>
                        <div class="section-title">
                            <div class="uk-h2">About Trip-Weaver</div>
                        </div>
                        <div class="section-content">
                            <ul class="about-list">
                                <li>
                                    <div class="about-list-item">
                                        <div class="about-list-item__icon"><img src="../static/assets/img/about-1.svg"
                                                                                th:src="@{/assets/img/about-1.svg}"
                                                                                alt="ico-about" data-uk-svg></div>
                                        <div class="about-list-item__desc">
                                            <div class="about-list-item__title">Efficient Travel Sharing</div>
                                            <div class="about-list-item__desc">Our web application, Trip-Weaver,
                                                facilitates seamless sharing of travel plans between users, allowing
                                                individuals to organize shared trips or join existing ones effortlessly.
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="about-list-item">
                                        <div class="about-list-item__icon"><img src="../static/assets/img/about-2.svg"
                                                                                th:src="@{/assets/img/about-2.svg}"
                                                                                alt="ico-about" data-uk-svg></div>
                                        <div class="about-list-item__desc">
                                            <div class="about-list-item__title">User-Friendly Interface</div>
                                            <div class="about-list-item__desc">With intuitive features for both
                                                anonymous
                                                and authenticated users, Trip-Weaver offers a user-friendly experience,
                                                enabling easy registration, trip creation, and browsing of available
                                                rides.
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="about-list-item">
                                        <div class="about-list-item__icon"><img src="../static/assets/img/about-3.svg"
                                                                                th:src="@{/assets/img/about-3.svg}"
                                                                                alt="ico-about" data-uk-svg></div>
                                        <div class="about-list-item__desc">
                                            <div class="about-list-item__title">Robust Feedback System</div>
                                            <div class="about-list-item__desc">Trip-Weaver ensures transparency and
                                                accountability through its feedback system, allowing passengers to rate
                                                and leave comments for drivers, and vice versa, fostering a
                                                community-driven approach to travel sharing.
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="uk-visible@m"></div>
                </div>
            </div>
        </div>

        <!--Total Travels, Total Users, Total 5-Star Reviews-->
        <div class="section-location">
            <div class="uk-section uk-container">
                <div class="location">
                    <div class="uk-grid uk-grid-small uk-child-width-1-2@m" data-uk-grid>
                        <div>
                            <div class="location__title">We Have Now <b th:text="${totalTravelsCount}"></b> Completed
                                Travels
                            </div>
                            <div class="location__text">At Trip-Weaver, our mission is to revolutionize the way people
                                commute by providing a platform that promotes sustainable and cost-effective travel
                                solutions. Whether you're looking to reduce your carbon footprint, save money on
                                transportation, or simply enjoy the company of fellow travelers, Trip-Weaver offers a
                                convenient and reliable solution. Join our growing community today and embark on a
                                journey towards a more connected and eco-friendly future!"
                            </div>

                        </div>
                        <div>
                            <div class="location__map"><img class="location__img"
                                                            src="../static/assets/img/img-location-map.png"
                                                            th:src="@{/assets/img/img-location-map.png}"
                                                            alt="img-location-map">
                                <ul class="location__numbers">
                                    <li><span th:text="${totalUsersCount}"></span><span>Total Users</span></li>
                                    <li><span
                                            th:text="${fiveStarRatingFeedbackCount}"></span><span>5 Star Reviews</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Customer Reviews-->
        <div class="section-reviews">
            <div class="uk-section uk-container">
                <div class="section-title uk-text-center">
                    <div class="uk-h2">Customer Reviews</div>
                </div>
                <div class="section-content">
                    <div class="reviews-slider">
                        <div data-uk-slideshow="max-height: 270; min-height: 250; animation: scale">
                            <div class="reviews-slider__users">
                                <ul>
                                    <li class="uk-animation-scale-up" data-uk-slideshow-item="0"><img
                                            class="uk-width-1-1" src="../static/assets/img/img-reviews.jpg"
                                            th:src="@{https://res.cloudinary.com/dol3hflxs/image/upload/v1710444048/file_avhpak.jpg}" alt="img-reviews"></li>
                                    <li class="uk-animation-scale-up" data-uk-slideshow-item="1"><img
                                            class="uk-width-1-1" src="../static/assets/img/img-reviews.jpg"
                                            th:src="@{https://res.cloudinary.com/dol3hflxs/image/upload/v1710444299/file_qvmw38.jpg}" alt="img-reviews"></li>
                                    <li class="uk-animation-scale-up" data-uk-slideshow-item="2"><img
                                            class="uk-width-1-1" src="../static/assets/img/img-reviews.jpg"
                                            th:src="@{https://res.cloudinary.com/dol3hflxs/image/upload/v1710444375/file_rlw0j9.jpg}" alt="img-reviews"></li>
                                </ul>
                            </div>
                            <div class="reviews-slider__content">
                                <div class="reviews-slider__box">
                                    <ul class="uk-slideshow-items">
                                        <li>
                                            <div class="reviews-slider-item">
                                                <div class="reviews-slider-item__text">Carpooling turned my daily
                                                    commute
                                                    from a grueling solo expedition into a road trip with new buddies!
                                                    Plus, now I have someone to blame for all those traffic jams -
                                                    thanks, fellow passengers!
                                                </div>
                                                <div class="reviews-slider-item__user">Happy Commuter</div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="reviews-slider-item">
                                                <div class="reviews-slider-item__text">As someone who's always been a
                                                    bit skeptical of sharing a confined space with strangers, Carpooling
                                                    pleasantly surprised me! Turns out, the only thing we shared was
                                                    laughter and some top-notch playlists. Five stars for making my
                                                    rides more memorable!
                                                </div>
                                                <div class="reviews-slider-item__user">Joyful Passenger</div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="reviews-slider-item">
                                                <div class="reviews-slider-item__text">Finally, a solution for my 'long
                                                    drives are just long periods of staring at the road' problem!
                                                    Carpooling not only saved me some serious cash on gas but also
                                                    introduced me to some interesting characters. 5/5 would share
                                                    snacks again!
                                                </div>
                                                <div class="reviews-slider-item__user">Snack Enthusiast</div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="reviews-slider__dots">
                                <ul class="uk-slideshow-nav uk-dotnav uk-flex uk-flex-center"></ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <!-- Additional blocks-->
    <div th:replace="~{Fragments.html :: additional-blocks}"></div>
    <!--Footer-->
    <footer th:replace="~{Fragments.html :: footer}"></footer>
</div>
<div th:replace="~{Fragments.html::script}"></div>
</body>

</html>