<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{Fragments.html :: head('Trip-Weaver | Travel Information')}"></head>

<body class="page-blog">

<!-- Loader-->
<div id="page-preloader"><span class="spinner border-t_second_b border-t_prim_a"></span></div>
<!-- Loader end-->

<div class="page-wrapper">
    <header th:replace="~{Fragments.html :: page-header}"></header>
    <main class="page-main">
        <div class="section-banner">
            <div class="section-banner__bg">
                <div class="uk-cover-container"><img
                        th:src="@{/assets/img/img-banner-blog.jpg}"
                        src="../static/assets/img/img-banner-blog.jpg" alt="img-banner" data-uk-cover>
                    <canvas></canvas>
                </div>
            </div>
            <div class="section-banner__content">
                <div class="uk-overlay uk-position-center-left uk-width-1-1">
                    <div class="uk-container uk-width-1-1">
                        <div class="section-banner__title">
                            <h1>Travel Detailed Information</h1>
                        </div>
                        <div class="section-banner__text decor-bottom">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section-slider-blog">
            <div class="uk-container">
                <div class="search-result__list">
                    <div class="search-result-item">
                        <div class="search-result-item__car">
                            <div class="user-box__avatar" id="single-travel-box-avatar-car">
                                <a th:href="@{/travels/{id}(id=${travel.getTravelId()})}">

                                    <img src="../static/assets/img/unsplash-just-some-car.jpg"
                                         th:src="@{/assets/img/unsplash-just-some-car.jpg}"
                                         alt="car">
                                </a>
                            </div>

                        </div>

                        <div class="search-result-item__info">
                            <div class="user-box">
                                <div class="user-box__avatar">
                                    <a th:href="@{/users/__${travel.getDriver().getUserId()}__}">
                                        <img th:src="${travel.getDriver().getAvatar().getAvatarUrl()}"
                                             alt="driver-pic"></a>
                                </div>
                                <div class="user-box__info">
                                    <a th:href="@{/users/__${travel.getDriver().getUserId()}__}">
                                        <div class="user-box__name"
                                             th:text="${travel.getDriver().getFirstName()} + ' ' + ${travel.getDriver().getLastName()}">
                                        </div>
                                    </a>
                                    <div class="user-box__rating"><i class="fas fa-star"></i>
                                        <b th:text="${travel.getDriver().getAverageDriverRating()} + ' / 5'">4.8/5 </b>
                                    </div>
                                </div>
                            </div>
                            <ul class="list-info">
                                <li><img src="../static/assets/img/driver-service-1.png"
                                         th:src="@{/assets/img/capacity.svg}"
                                         alt="driver-service">
                                    <span th:text="'Max. ' + ${travel.getFreeSeats()} + ' seats available.'">Max. 2 passengers in back seats</span>
                                </li>
                                <li><img src="../static/assets/img/driver-service-1.png"
                                         th:src="@{/assets/img/free_seats.svg}"
                                         alt="driver-service">
                                    <span th:text="${travel.getFreeSeats() - travel.getUsersApprovedForTheTravel().size()} + ' free seats available.'">
                                        Max. 2 passengers in back seats</span>
                                </li>
                                <li><img src="../static/assets/img/driver-service-1.png"
                                         th:src="@{/assets/img/mode_of_travel.svg}"
                                         alt="driver-service">
                                    <span th:text="${travel.getDistanceInKm()} + ' km as Driver'">50km</span>
                                </li>
                                <li><img src="../static/assets/img/driver-service-1.png"
                                         th:src="@{/assets/img/hourglass_bottom.svg}"
                                         alt="driver-service">
                                    <span th:text="${travel.getRideDurationInMinutes()/60} + 'h ' + ${travel.getRideDurationInMinutes()%60}+ 'min'">
                                        2h 30min</span>
                                </li>
                                <li><img src="../static/assets/img/driver-service-1.png"
                                         th:src="@{/assets/img/status.svg}"
                                         alt="driver-service">
                                    <span th:text="${travel.getStatus().getStatusName()}">Status</span>
                                </li>
                                <li><img src="../static/assets/img/driver-service-2.png"
                                         th:src="@{/assets/img/comments.svg}"
                                         alt="driver-service">
                                    <span th:unless="${travel.getComment()==null}"
                                          th:text="${travel.getComment()}">Pets are not allowed in the Car</span>
                                </li>
                            </ul>

                        </div>
                        <div class="search-result-item__price">
                            <div class="price-box">
                                <div class="price-box__time"
                                     th:text="${#temporals.format(travel.getDepartureTime(), 'yyyy-MMM-dd hh:mm a')}">
                                    2:00 PM
                                </div>
                                <div class="price-box__price">
                                    <div class="current-price"
                                         th:text="${travel.getStartingPointCity() + ' - '+ travel.getEndingPointCity()}">
                                        $19.50
                                    </div>
                                    <a th:if="${travel.getFreeSeats() - travel.getUsersApprovedForTheTravel().size() > 0}
                                    and ${travel.getStatus().getTravelStatusId() == 1} and ${!isLoggedUserApprovedPassenger}
                                    and ${travel.getDriver().getUserId() != loggedUser.getUserId()}"
                                       class="uk-button button-approve margin-top-10px white-color" type="button"
                                       th:href="@{/travels/__${travel.getTravelId()}__/apply}">Apply
                                    </a>
                                    <a th:if="${travel.getDriver().getUserId() == loggedUser.getUserId()}
                                    and ${travel.getStatus().getTravelStatusId() == 1 }"
                                       class="uk-button button-cancel margin-top-10px white-color" type="button"
                                       th:href="@{/travels/__${travel.getTravelId()}__/cancel-travel}">Cancel
                                    </a>
                                    <a th:if="${travel.getDriver().getUserId() == loggedUser.getUserId()} and
                                    ${travel.getStatus().getTravelStatusId() == 1 }"
                                       class="uk-button button-approve white-color margin-top-10px" type="button"
                                       th:href="@{/travels/__${travel.getTravelId()}__/complete-travel}">Complete
                                    </a>
                                    <a th:if="${isLoggedUserApprovedPassenger
                                    and travel.getStatus().getTravelStatusId() == 1}"
                                       class="uk-button button-decline white-color margin-top-10px"
                                       type="button"
                                       th:href="@{/travels/__${travel.getTravelId()}__/passengers/__${loggedUser.getUserId()}__/cancel-participation}">Unsubscribe
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div th:if="${!hasLoggedUserAlreadyLeftFeedback} and ${travel.getStatus().getTravelStatusId() == 3}" class="search-result__list">
                    <div class="search-result-item__info">
                        <div class="add-reviews-form" id="add-reviews">
                            <div class="uk-h2">Leave A Review For The Driver:</div>
                            <p>Share your thoughts on the driver. Comment should be no longer than 200 symbols.</p>
                            <form
                                    action="#"
                                    th:object="${feedbackForm}"
                                    method="post"
                                    th:action="@{/travels/__${travel.getTravelId()}__/driver/__${travel.getDriver().getUserId()}__/feedback-for-driver}">

                                <div class="uk-grid uk-grid-medium uk-child-width-1-2@s" data-uk-grid>
                                    <div class="uk-width-1-1">
                                        <select th:field="*{rating}" class="input-place uk-input font-size-30px">
                                            <option value="5">⭐⭐⭐⭐⭐</option>
                                            <option value="4">⭐⭐⭐⭐</option>
                                            <option value="3">⭐⭐⭐</option>
                                            <option value="2">⭐⭐</option>
                                            <option value="1">⭐</option>
                                        </select>
                                    </div>

                                    <div class="uk-width-1-1">
                                        <input type="text"
                                                pattern="^.{0,200}$"
                                                title="Content must be maximum 200 symbols long."
                                                th:field="*{content}"
                                                class="uk-textarea"
                                                name="comment"
                                                placeholder="Comment (Optional)">
                                    </div>
                                    </br>
                                    <div class="uk-width-1-1">
                                        <button class="uk-button uk-button-danger" type="submit">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="section-slider-blog single-travel-section-slider-blog">
            <div class="uk-section uk-container">
                <div class="section-title uk-text-center">
                    <div class="uk-h2">Approved Passengers</div>
                </div>
            </div>
            <div class="uk-container">
                <div class="slider-blog">
                    <div data-uk-slideshow="max-height: 285; min-height: 275; animation: slide">
                        <div class="uk-grid uk-grid-collapse" data-uk-grid>
                            <div class="uk-width-3-3@m">
                                <div class="slider-blog__content">
                                    <div class="slider-blog__box">
                                        <ul class="uk-slideshow-items">

                                            <li th:each="approvedUser : ${travel.getUsersApprovedForTheTravel()}">

                                                <div class="blog-card single-travel-blog-card">
                                                    <div class="blog-card__body single-travel-user-box-avatar">
                                                        <div class="user-box__avatar">
                                                            <a th:href="@{/users/__${approvedUser.getUserId()}__}"><img
                                                                    class="uk-width-1-1"
                                                                    th:src="${approvedUser.getAvatar().getAvatarUrl()}"
                                                                    alt="img-slider-blog">
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="blog-card__body">
                                                        <div class="blog-card__info">
                                                            <div class="blog-card__author"><i class="fas fa-user"></i>
                                                                <a th:href="@{/users/__${approvedUser.getUserId()}__}">
                                                                <span th:text="${approvedUser.getFirstName()} + ' ' + ${approvedUser.getLastName()}">
                                                                </span>
                                                                </a>
                                                            </div>
                                                            <div class="blog-card__category"><i
                                                                    class="fas fa-folder-open"></i>
                                                                <a th:href="@{/users/__${approvedUser.getUserId()}__}">
                                                                <span th:text="${approvedUser.getUsername()}">
                                                                </span>
                                                                </a>
                                                            </div>
                                                        </div>

                                                        <div class="blog-card__title">
                                                            <a th:if="${loggedUser.getUserId() == travel.getDriver().getUserId() }
                                                            and ${travel.getStatus().getTravelStatusId() == 1}"
                                                               class="uk-button button-decline" type="button"
                                                               th:href="@{/travels/__${travel.getTravelId()}__/applications/user/__${approvedUser.getUserId()}__/decline}">
                                                                Decline
                                                            </a>
                                                            <a th:if="${isLoggedUserApprovedPassenger
                                                               and travel.getStatus().getTravelStatusId() == 1}"
                                                               class="uk-button button-decline"
                                                               type="button"
                                                               th:href="@{/travels/__${travel.getTravelId()}__/passengers/__${loggedUser.getUserId()}__/cancel-participation}">Unsubscribe
                                                            </a>
                                                        </div>

                                                        <div class="blog-card__intro">
                                                            <div class="driver-card__services">
                                                                <ul>
                                                                    <li><img
                                                                            src="../static/assets/img/mode_of_travel.svg"
                                                                            th:src="@{/assets/img/mode_of_travel.svg}"
                                                                            alt="driver-service"><span th:text="'Total Distance: ' +
                                                         ${passengerTotalDistance.get(approvedUser.getUsername())} + ' km as Passenger'">100 km</span>
                                                                    </li>
                                                                    <li><img
                                                                            src="../static/assets/img/directions_car.svg"
                                                                            th:src="@{/assets/img/directions_car.svg}"
                                                                            alt="driver-service"><span th:text="'Total Travels: ' +
                                                         ${passengerTotalTravels.get(approvedUser.getUsername())}">10</span>
                                                                    </li>
                                                                    <li><img src="../static/assets/img/mail.svg"
                                                                             th:src="@{/assets/img/mail.svg}"
                                                                             alt="driver-service"><span
                                                                            th:text="${approvedUser.getEmail()}">Email</span>
                                                                    </li>
                                                                    <li><img src="../static/assets/img/phone.svg"
                                                                             th:src="@{/assets/img/phone.svg}"
                                                                             alt="driver-service"><span
                                                                            th:text="${approvedUser.getPhoneNumber()}">Phone number</span>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </li>

                                        </ul>
                                    </div>
                                    <div class="slider-blog__dots">
                                        <ul class="uk-slideshow-nav uk-dotnav uk-flex uk-flex-right"></ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section-slider-blog single-travel-section-slider-blog">
            <div class="uk-section uk-container">
                <div class="section-title uk-text-center">
                    <div class="uk-h2">Applied Passengers</div>
                </div>
            </div>

            <div class="uk-container">
                <div class="slider-blog">
                    <div data-uk-slideshow="max-height: 285; min-height: 275; animation: slide">
                        <div class="uk-grid uk-grid-collapse" data-uk-grid>
                            <div class="uk-width-3-3@m">
                                <div class="slider-blog__content">
                                    <div class="slider-blog__box">
                                        <ul class="uk-slideshow-items">

                                            <li th:each="appliedPassanger : ${travel.getUsersAppliedForTheTravel()}">

                                                <div class="blog-card single-travel-blog-card">
                                                    <div class="blog-card__body single-travel-user-box-avatar">
                                                        <div class="user-box__avatar">
                                                            <a th:href="@{/users/__${appliedPassanger.getUserId()}__}"><img
                                                                    class="uk-width-1-1"
                                                                    th:src="${appliedPassanger.getAvatar().getAvatarUrl()}"
                                                                    alt="img-slider-blog">
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="blog-card__body">
                                                        <div class="blog-card__info">
                                                            <div class="blog-card__author"><i class="fas fa-user"></i>
                                                                <a th:href="@{/users/__${appliedPassanger.getUserId()}__}">
                                                                <span th:text="${appliedPassanger.getFirstName()} + ' ' + ${appliedPassanger.getLastName()}">
                                                                </span>
                                                                </a>
                                                            </div>
                                                            <div class="blog-card__category"><i
                                                                    class="fas fa-folder-open"></i>
                                                                <a th:href="@{/users/__${appliedPassanger.getUserId()}__}">
                                                                <span th:text="${appliedPassanger.getUsername()}">
                                                                </span>
                                                                </a>
                                                            </div>
                                                        </div>

                                                        <div class="blog-card__title">
                                                            <a th:if="${loggedUser.getUserId() == travel.getDriver().getUserId()}"
                                                               class="uk-button button-approve white-color"
                                                               type="button"
                                                               th:href="@{/travels/__${travel.getTravelId()}__/applications/user/__${appliedPassanger.getUserId()}__/approve}">
                                                                Approve
                                                            </a>
                                                            <a th:if="${loggedUser.getUserId() == travel.getDriver().getUserId()}"
                                                               class="uk-button button-decline white-color"
                                                               type="button"
                                                               th:href="@{/travels/__${travel.getTravelId()}__/applications/user/__${appliedPassanger.getUserId()}__/decline}">
                                                                Decline
                                                            </a>
                                                            <a th:if="${loggedUser.getUserId() == appliedPassanger.getUserId()}
                                                                and ${travel.getStatus().getTravelStatusId() == 1}"
                                                               class="uk-button button-decline white-color"
                                                               type="button"
                                                               th:href="@{/travels/__${travel.getTravelId()}__/passengers/__${loggedUser.getUserId()}__/cancel-participation}">Unsubscribe
                                                            </a>

                                                        </div>

                                                        <div class="blog-card__intro">
                                                            <div class="driver-card__services">
                                                                <ul>
                                                                    <li><img
                                                                            src="../static/assets/img/mode_of_travel.svg"
                                                                            th:src="@{/assets/img/mode_of_travel.svg}"
                                                                            alt="driver-service"><span th:text="'Total Distance: ' +
                                                         ${passengerTotalDistance.get(appliedPassanger.getUsername())} + ' km as Passenger'">100 km</span>
                                                                    </li>
                                                                    <li><img
                                                                            src="../static/assets/img/directions_car.svg"
                                                                            th:src="@{/assets/img/directions_car.svg}"
                                                                            alt="driver-service"><span th:text="'Total Travels: ' +
                                                         ${passengerTotalTravels.get(appliedPassanger.getUsername())}">10</span>
                                                                    </li>
                                                                    <li><img src="../static/assets/img/mail.svg"
                                                                             th:src="@{/assets/img/mail.svg}"
                                                                             alt="driver-service"><span
                                                                            th:text="${appliedPassanger.getEmail()}">Email</span>
                                                                    </li>
                                                                    <li><img src="../static/assets/img/phone.svg"
                                                                             th:src="@{/assets/img/phone.svg}"
                                                                             alt="driver-service"><span
                                                                            th:text="${appliedPassanger.getPhoneNumber()}">Phone number</span>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </li>

                                        </ul>
                                    </div>
                                    <div class="slider-blog__dots">
                                        <ul class="uk-slideshow-nav uk-dotnav uk-flex uk-flex-right"></ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>

    <!-- Additional blocks-->
    <div th:replace="~{Fragments.html :: additional-blocks}"></div>
    <!--Footer-->
    <footer th:replace="~{Fragments.html :: footer}"></footer>
</div>
<div th:replace="~{Fragments.html::script}"></div>

</body>

</html>