<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{Fragments.html :: head('Trip-Weaver | Profile')}"></head>
<body class="page-search page-search--result">

<!-- Loader-->
<div id="page-preloader"><span class="spinner border-t_second_b border-t_prim_a"></span></div>
<!-- Loader end-->


<div class="page-wrapper">
    <header th:replace="~{Fragments.html :: page-header}"></header>
    <main class="page-main">
        <div class="main-search-grid uk-grid uk-child-width-1-2@xl uk-grid-match uk-grid-collapse" data-uk-grid>
            <div>
                <div class="main-search-section main-search-section--left">

                    <div class="search-result-item">
                        <div id="section-title uk-text-center">
                            <img th:src="@{/assets/img/unsplash-just-some-car.jpg}" alt="car">
                        </div>
                    </div>
                    <!--User Information-->
                    <div class="uk-section uk-container single-user-section-uk-container">

                        <div class="section-title uk-text-center single-user-divider">
                            <div class="uk-h2">User Information:</div>
                        </div>
                    </div>
                    <div class="search-result-item">
                        <div class="search-result-item__car">
                            <div class="user-box__avatar" id="all-users-avatar-view">
                                <a th:href="@{/users/__${userById.getUserId()}__}">
                                    <img th:src="${userById.getAvatar().getAvatarUrl()}"
                                         alt="driver-pic"></a>
                            </div>
                        </div>
                        <div class="search-result-item__info">
                            <div class="user-box">
                                <div class="user-box__info">
                                    <div class="user-box__name">
                                        <a th:href="@{/users/__${userById.getUserId()}__}"
                                           th:text="${userById.getUsername()}">Ben Strokes</a>
                                    </div>
                                    <div class="user-box__rating"><i class="fas fa-star"></i>
                                        <b th:text="${userById.getAverageDriverRating()} + ' / 5 as Driver'">4.8/5 </b>
                                    </div>
                                    <div class="user-box__rating"><i class="fas fa-star"></i>
                                        <b th:text="${userById.getAveragePassengerRating()} + ' / 5 as Passenger'">4.8/5 </b>
                                    </div>
                                </div>
                            </div>
                            <ul class="list-info">
                                <li><img src="../static/assets/img/mail.svg"
                                         th:src="@{/assets/img/person.svg}" alt="driver-service"><span
                                        th:text="${userById.getFirstName()} + ' ' + ${userById.getLastName()}">Username</span>
                                </li>
                                <li><img src="../static/assets/img/mail.svg"
                                         th:src="@{/assets/img/mail.svg}" alt="driver-service"><span
                                        th:text="${userById.getEmail()}">Email</span></li>
                                <li><img src="../static/assets/img/phone.svg"
                                         th:src="@{/assets/img/phone.svg}" alt="driver-service"><span
                                        th:text="${userById.getPhoneNumber()}">Phone number</span></li>
                                <li><img src="../static/assets/img/phone.svg"
                                         th:src="@{/assets/img/block_user.svg}" alt="block-user"><span
                                        th:if="${userById.isBlocked}"
                                >User is currently blocked.</span>
                                    <span th:unless="${userById.isBlocked}">User is not blocked.</span>
                                </li>
                                <li><img src="../static/assets/img/verified.svg"
                                         th:src="@{/assets/img/verified.svg}" alt="block-user"><span
                                        th:if="${userById.isVerified()}"
                                >User is currently verified.</span>
                                    <span th:unless="${userById.isVerified()}">User is not verified.</span>
                                </li>
                            </ul>

                        </div>
                        <div class="search-result-item__price">
                            <div class="price-box">

                                <div class="price-box__price">
                                    <a th:if="${!userById.isBlocked}
                                    and ${loggedUser.getUserId() != userById.getUserId()}
                                    and ${isAdmin}"
                                       class="uk-button button-decline" type="button"
                                       th:href="@{/users/{userId}/block(userId=${userById.getUserId()})}">
                                        Block
                                    </a>
                                    <a th:if="${userById.isBlocked} and ${isAdmin}" class="uk-button button-approve" type="button"
                                       th:href="@{/users/{userId}/unblock(userId=${userById.getUserId()})}">
                                        Unblock
                                    </a>
                                    <a th:if="${userById == loggedUser}" class="uk-button button-edit" type="button"
                                       th:href="@{/users/{userId}/edit(userId=${userById.getUserId()})}">
                                        Update
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="uk-section uk-container single-user-section-uk-container">
                        <div class="section-title uk-text-center single-user-divider">
                            <div class="uk-h2">Reviews When Driver:</div>
                        </div>
                    </div>
                    <div class="slider-blog">
                        <div data-uk-slideshow="max-height: 285; min-height: 275; animation: slide">
                            <div class="uk-grid uk-grid-collapse" data-uk-grid>
                                <div class="uk-width-3-3@m">
                                    <div class="slider-blog__content">
                                        <div class="slider-blog__box">
                                            <ul class="uk-slideshow-items">

                                                <li th:each="driverFeedback : ${feedbackForDriver}">

                                                    <div class="blog-card single-travel-blog-card">
                                                        <div class="blog-card__body single-travel-user-box-avatar">
                                                            <div class="user-box__avatar">
                                                                <a th:href="@{/users/__${driverFeedback.getAuthor().getUserId()}__}"><img
                                                                        class="uk-width-1-1"
                                                                        th:src="${driverFeedback.getAuthor().getAvatar().getAvatarUrl()}"
                                                                        alt="img-slider-blog">
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <div class="blog-card__body">
                                                            <div class="blog-card__info">
                                                                <div class="blog-card__author"><i
                                                                        class="fas fa-user"></i>
                                                                    <a th:href="@{/users/__${driverFeedback.getAuthor().getUserId()}__}">
                                                                <span th:text="${driverFeedback.getAuthor().getFirstName()} + ' ' + ${driverFeedback.getAuthor().getLastName()}">
                                                                </span>
                                                                    </a>
                                                                </div>
                                                                <div class="blog-card__category">
                                                                    <img src="../static/assets/img/badge.svg"
                                                                         th:src="@{/assets/img/badge.svg}"
                                                                         alt="car">
                                                                    <a th:href="@{/users/__${driverFeedback.getAuthor().getUserId()}__}">
                                                                <span th:text="${driverFeedback.getAuthor().getUsername()}">
                                                                </span>
                                                                    </a>
                                                                </div>
                                                            </div>

                                                            <div><img src="../static/assets/img/mode_of_travel.svg"
                                                                      th:src="@{/assets/img/directions_car.svg}"
                                                                      alt="driver-service">
                                                                <span th:text="'For travel from '
                                                                        + ${driverFeedback.getTravel().getStartingPointCity()} + ' to '
                                                                        + ${driverFeedback.getTravel().getEndingPointCity()} + ' on '
                                                                        + ${#temporals.format(driverFeedback.getTravel().getDepartureTime(), 'yyyy-MMM-dd')}">100 km
                                                                        </span>
                                                            </div>

                                                            <div class="blog-card__intro">
                                                                <div class="driver-card__services">
                                                                    <ul>
                                                                        <li>
                                                                            <img src="../static/assets/img/stars.svg"
                                                                                 th:src="@{/assets/img/stars.svg}"
                                                                                 alt="driver-service">
                                                                            <span><i
                                                                                    th:each="i : ${#numbers.sequence(1, driverFeedback.getRating())}"
                                                                                    class="fas fa-star color-orange">
                                                                                    </i>
                                                                            </span>
                                                                        </li>
                                                                        <li><img
                                                                                src="../static/assets/img/calendar.svg"
                                                                                th:src="@{/assets/img/calendar.svg}"
                                                                                alt="driver-service">
                                                                            <span th:text="'Created on: ' + ${#temporals.format(driverFeedback.getCreated(), 'yyyy-MMM-dd hh:mm a')}">
                                                                                        10</span>
                                                                        </li>
                                                                        <li><img src="../static/assets/img/history_edu.svg"
                                                                                 th:src="@{/assets/img/history_edu.svg}"
                                                                                 alt="driver-service">
                                                                            <span th:text="${driverFeedback.getContent()}">
                                                                                        10</span>
                                                                        </li>

                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </li>

                                            </ul>
                                        </div>
                                        <div class="slider-blog__dots">
                                            <ul class="uk-slideshow-nav uk-dotnav uk-flex uk-flex-right"></ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="uk-section uk-container single-user-section-uk-container">
                        <div class="section-title uk-text-center single-user-divider">
                            <div class="uk-h2">Reviews When Passenger:</div>
                        </div>
                    </div>
                    <div class="slider-blog">
                        <div data-uk-slideshow="max-height: 285; min-height: 275; animation: slide">
                            <div class="uk-grid uk-grid-collapse" data-uk-grid>
                                <div class="uk-width-3-3@m">
                                    <div class="slider-blog__content">
                                        <div class="slider-blog__box">
                                            <ul class="uk-slideshow-items">

                                                <li th:each="passengerFeedback : ${feedbackForPassenger}">

                                                    <div class="blog-card single-travel-blog-card">
                                                        <div class="blog-card__body single-travel-user-box-avatar">
                                                            <div class="user-box__avatar">
                                                                <a th:href="@{/users/__${passengerFeedback.getAuthor().getUserId()}__}"><img
                                                                        class="uk-width-1-1"
                                                                        th:src="${passengerFeedback.getAuthor().getAvatar().getAvatarUrl()}"
                                                                        alt="img-slider-blog">
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <div class="blog-card__body">
                                                            <div class="blog-card__info">
                                                                <div class="blog-card__author"><i
                                                                        class="fas fa-user"></i>
                                                                    <a th:href="@{/users/__${passengerFeedback.getAuthor().getUserId()}__}">
                                                                <span th:text="${passengerFeedback.getAuthor().getFirstName()} + ' ' + ${passengerFeedback.getAuthor().getLastName()}">
                                                                </span>
                                                                    </a>
                                                                </div>
                                                                <div class="blog-card__category">
                                                                    <img src="../static/assets/img/badge.svg"
                                                                         th:src="@{/assets/img/badge.svg}"
                                                                         alt="car">
                                                                    <a th:href="@{/users/__${passengerFeedback.getAuthor().getUserId()}__}">
                                                                <span th:text="${passengerFeedback.getAuthor().getUsername()}">
                                                                </span>
                                                                    </a>
                                                                </div>
                                                            </div>

                                                            <div><img src="../static/assets/img/mode_of_travel.svg"
                                                                      th:src="@{/assets/img/directions_car.svg}"
                                                                      alt="driver-service">
                                                                <span th:text="'For travel from '
                                                                        + ${passengerFeedback.getTravel().getStartingPointCity()} + ' to '
                                                                        + ${passengerFeedback.getTravel().getEndingPointCity()} + ' on '
                                                                        + ${#temporals.format(passengerFeedback.getTravel().getDepartureTime(), 'yyyy-MMM-dd')}">100 km
                                                                        </span>
                                                            </div>

                                                            <div class="blog-card__intro">
                                                                <div class="driver-card__services">
                                                                    <ul>
                                                                        <li>
                                                                            <img src="../static/assets/img/stars.svg"
                                                                                 th:src="@{/assets/img/stars.svg}"
                                                                                 alt="driver-service">
                                                                            <span><i
                                                                                    th:each="i : ${#numbers.sequence(1, passengerFeedback.getRating())}"
                                                                                    class="fas fa-star color-orange">
                                                                                    </i>
                                                                            </span>
                                                                        </li>
                                                                        <li><img
                                                                                src="../static/assets/img/calendar.svg"
                                                                                th:src="@{/assets/img/calendar.svg}"
                                                                                alt="driver-service">
                                                                            <span th:text="'Created on: ' + ${#temporals.format(passengerFeedback.getCreated(), 'yyyy-MMM-dd hh:mm a')}">
                                                                                        10</span>
                                                                        </li>
                                                                        <li><img src="../static/assets/img/history_edu.svg"
                                                                                 th:src="@{/assets/img/history_edu.svg}"
                                                                                 alt="driver-service">
                                                                            <span th:text="${passengerFeedback.getContent()}">
                                                                                        10</span>
                                                                        </li>

                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </li>

                                            </ul>
                                        </div>
                                        <div class="slider-blog__dots">
                                            <ul class="uk-slideshow-nav uk-dotnav uk-flex uk-flex-right"></ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="uk-background-muted" th:if="${loggedUser.getUserId() == userById.getUserId()}">
                <div class="main-search-section">
                    <div class="search-result">

                        <!--Applied Travels-->
                        <div class="uk-section uk-container single-user-section-uk-container">
                            <div class="section-title uk-text-center single-user-divider">
                                <div class="uk-h2">Applications:</div>
                            </div>
                        </div>
                        <div class="search-result__list">
                            <div class="search-result-item" th:each="travelApplied : ${openTravelsUserAppliedFor}">
                                <div class="search-result-item__car">
                                    <div class="user-box__avatar" id="single-user-box-avatar-applied-travels">
                                        <a th:href="@{/travels/{id}(id=${travelApplied.getTravelId()})}">

                                            <img src="../static/assets/img/unsplash-just-some-car.jpg"
                                                 th:src="@{/assets/img/unsplash-just-some-car.jpg}"
                                                 alt="car">
                                        </a>
                                    </div>
                                </div>
                                <div class="search-result-item__info">
                                    <div class="user-box">
                                        <div class="user-box__avatar">
                                            <a th:href="@{/users/{id}(id=${travelApplied.getDriver().getUserId()})}">
                                                <img th:src="${travelApplied.getDriver().getAvatar().getAvatarUrl()}"
                                                     alt="driver-pic">
                                            </a>
                                        </div>
                                        <div class="user-box__info">
                                            <a th:href="@{/users/{id}(id=${travelApplied.getDriver().getUserId()})}">
                                                <div class="user-box__name"
                                                     th:text="${travelApplied.getDriver().getFirstName()} + ' ' + ${travelApplied.getDriver().getLastName()}">
                                                </div>
                                            </a>
                                            <div class="user-box__rating"><i class="fas fa-star"></i>
                                                <b th:text="${travelApplied.getDriver().getAverageDriverRating()} + ' / 5'">4.8/5 </b>
                                            </div>
                                        </div>
                                    </div>
                                    <ul class="list-info">
                                        <li><img src="../static/assets/img/driver-service-1.png"
                                                 th:src="@{/assets/img/driver_icon.svg}"
                                                 alt="driver-service">
                                            <span th:if="${travelApplied.getDriver().getUserId() == userById.getUserId()}">As Driver</span>
                                            <span th:unless="${travelApplied.getDriver().getUserId() == userById.getUserId()}">As Applied Passenger</span>
                                        </li>
                                        <li><img src="../static/assets/img/driver-service-1.png"
                                                 th:src="@{/assets/img/capacity.svg}"
                                                 alt="driver-service">
                                            <span th:text="'Max. ' + ${travelApplied.getFreeSeats()} + ' seats available.'">Max. 2 passengers in back seats</span>
                                        </li>
                                        <li><img src="../static/assets/img/driver-service-1.png"
                                                 th:src="@{/assets/img/status.svg}"
                                                 alt="driver-service">
                                            <span th:text="${travelApplied.getStatus().getStatusName()}">Status</span>
                                        </li>
                                        <li><img src="../static/assets/img/driver-service-1.png"
                                                 th:src="@{/assets/img/free_seats.svg}"
                                                 alt="driver-service">
                                            <span th:text="${travelApplied.getFreeSeats() - travelApplied.getUsersApprovedForTheTravel().size()} + ' free seats available.'">Max. 2 passengers in back seats</span>
                                        </li>
                                        <li><img src="../static/assets/img/driver-service-2.png"
                                                 th:src="@{/assets/img/comments.svg}"
                                                 alt="driver-service">
                                            <span th:unless="${travelApplied.getComment()==null}"
                                                  th:text="${travelApplied.getComment()}">Pets are not allowed in the Car</span>
                                        </li>
                                    </ul>

                                </div>
                                <div class="search-result-item__price">
                                    <div class="price-box">
                                        <div class="price-box__time"
                                             th:text="${#temporals.format(travelApplied.getDepartureTime(), 'yyyy-MMM-dd hh:mm a')}">
                                            2:00 PM
                                        </div>
                                        <div class="price-box__price">
                                            <div class="current-price"
                                                 th:text="${travelApplied.getStartingPointCity() + ' - '+ travelApplied.getEndingPointCity()}">
                                                $19.50
                                            </div>
                                            <a class="uk-button uk-button-danger" type="button"
                                               th:href="@{/travels/{id}(id=${travelApplied.getTravelId()})}">View
                                            </a>
                                            <a th:unless="${travelApplied.getDriver().getUserId() == loggedUser.getUserId()}"
                                               th:if="${travelApplied.getStatus().getTravelStatusId() == 1}"
                                               class="uk-button button-decline margin-top-10px"
                                               type="button"
                                               th:href="@{/travels/__${travelApplied.getTravelId()}__/passengers/__${loggedUser.getUserId()}__/cancel-participation}">
                                                Unsubscribe
                                            </a>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--Filtering for All Travels-->
                        <div class="uk-section uk-container single-user-section-uk-container">
                            <div class="section-title uk-text-center single-user-divider">
                                <div class="uk-h2">Travels As Driver or Passenger:</div>
                            </div>
                        </div>
                        <div class="search-result__info">
                            <div class="search-box">
                                <form action="#" th:object="${travelFilterOptions}">
                                    <div class="search-form">
                                        <div class="uk-grid uk-child-width-1-2@s uk-grid-collapse" data-uk-grid>
                                            <div>
                                                <div class="uk-inline uk-width-1-1">
                                                    <input class="input-place uk-input"
                                                           type="text"
                                                           placeholder="Starting Point City"
                                                           th:field="*{startingPointCity}">
                                                </div>
                                            </div>
                                            <div>
                                                <div class="uk-inline uk-width-1-1">
                                                    <input class="input-place uk-input"
                                                           type="text"
                                                           placeholder="Ending Point City"
                                                           th:field="*{endingPointCity}">
                                                </div>
                                            </div>
                                            <div>
                                                <div class="uk-inline uk-width-1-1">
                                                    <input class="input-user uk-input" type="text"
                                                           th:field="*{minFreeSeats}"
                                                           placeholder="Min No. of Passenger(s)">
                                                </div>
                                            </div>
                                            <div>
                                                <div class="uk-inline uk-width-1-1">
                                                    <input class="input-place uk-input"
                                                           type="text"
                                                           placeholder="Driver Username"
                                                           th:field="*{driverUsername}">
                                                </div>
                                            </div>
                                            <div>
                                                <div class="uk-inline uk-width-1-1">
                                                    <select th:field="*{statusId}" class="input-place uk-input">
                                                        <option value="">All Statuses</option>
                                                        <option th:value="1"
                                                                th:text="Created">
                                                        </option>
                                                        <option th:value="2"
                                                                th:text="Cancelled">
                                                        </option>
                                                        <option th:value="3"
                                                                th:text="Completed">
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="uk-inline uk-width-1-1">
                                                    <div class="input-place uk-input">
                                                        <input type="checkbox" id="allBox" onchange="uncheckDriverAndPassenger()">
                                                        <label for="allBox">All</label>

                                                        <input type="checkbox" id="driverCheckbox" onchange="uncheckAllAndPassenger()"
                                                               th:field="*{driverId}" th:value="${userById.getUserId()}">
                                                        <label for="driverCheckbox">As Driver</label>

                                                        <input type="checkbox" id="passengerCheckbox" onchange="uncheckAllAndDriver()"
                                                               th:field="*{passengerId}" th:value="${userById.getUserId()}">
                                                        <label for="passengerCheckbox">As Passenger</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="uk-inline uk-width-1-1">
                                                    <select class="input-place uk-input" id="browse-posts-input-sortBy"
                                                            th:field="*{sortBy}">
                                                        <option value="">Sort By</option>
                                                        <option value="startingPointCity">Starting City</option>
                                                        <option value="endingPointCity">Ending City</option>
                                                        <option value="departureTime">Departure Time</option>
                                                        <option value="freeSeats">Free Seats</option>
                                                        <option value="createdOn">Create dOn</option>
                                                        <option value="driver">Driver</option>
                                                        <option value="distance">Distance</option>
                                                        <option value="duration">Duration</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="uk-inline uk-width-1-1">
                                                    <select class="input-place uk-input"
                                                            id="browse-posts-input-sortORder"
                                                            th:field="*{sortOrder}">
                                                        <option value="">Sort Order</option>
                                                        <option value="asc">Ascending</option>
                                                        <option value="desc">Descending</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="uk-inline uk-width-1-1">
                                                    <input class="input-place uk-input"
                                                           type="text"
                                                           placeholder="Comment"
                                                           th:field="*{commentContains}">
                                                </div>
                                            </div>
                                            <div>
                                                <div class="uk-inline uk-width-1-1">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="search-form-btn">
                                        <button class="uk-button uk-button-danger" type="submit"><span
                                                class="uk-margin-small-right"
                                                data-uk-icon="search"> </span><span>SEARCH</span>
                                        </button>
                                    </div>
                                </form>
                            </div>

                        </div>
                        <div class="search-result__col"><img src="../static/assets/img/ico-car.png"
                                                             th:src="@{/assets/img/ico-car.png}" alt="icon">
                            <span th:text="'Participated in ' + ${userTravels.size()} + ' trips.'">23 rides available for you.</span>
                        </div>

                        <!--All Travels List-->
                        <div class="search-result__list">
                            <div class="search-result-item" th:each="travel : ${userTravels}">
                                <div class="search-result-item__car">
                                    <div class="user-box__avatar" id="single-user-box-avatar">
                                        <a th:href="@{/travels/{id}(id=${travel.getTravelId()})}">

                                            <img src="../static/assets/img/unsplash-just-some-car.jpg"
                                                 th:src="@{/assets/img/unsplash-just-some-car.jpg}"
                                                 alt="car">
                                        </a>
                                    </div>
                                </div>
                                <div class="search-result-item__info">
                                    <div class="user-box">
                                        <div class="user-box__avatar">
                                            <a th:href="@{/users/{id}(id=${travel.getDriver().getUserId()})}">
                                            <img th:src="${travel.getDriver().getAvatar().getAvatarUrl()}"
                                                 alt="driver-pic">
                                            </a>
                                        </div>
                                        <div class="user-box__info">
                                            <a th:href="@{/users/{id}(id=${travel.getDriver().getUserId()})}">
                                            <div class="user-box__name"
                                                 th:text="${travel.getDriver().getFirstName()} + ' ' + ${travel.getDriver().getLastName()}">
                                            </div>
                                            </a>
                                            <div class="user-box__rating"><i class="fas fa-star"></i>
                                                <b th:text="${travel.getDriver().getAverageDriverRating()} + ' / 5'">4.8/5 </b>
                                            </div>
                                        </div>
                                    </div>
                                    <ul class="list-info">
                                        <li><img src="../static/assets/img/driver-service-1.png"
                                                 th:src="@{/assets/img/driver_icon.svg}"
                                                 alt="driver-service">
                                            <span th:if="${travel.getDriver().getUserId() == userById.getUserId()}">As Driver</span>
                                            <span th:unless="${travel.getDriver().getUserId() == userById.getUserId()}">As Approved Passenger</span>
                                        </li>
                                        <li><img src="../static/assets/img/driver-service-1.png"
                                                 th:src="@{/assets/img/capacity.svg}"
                                                 alt="driver-service">
                                            <span th:text="'Max. ' + ${travel.getFreeSeats()} + ' seats available.'">Max. 2 passengers in back seats</span>
                                        </li>
                                        <li><img src="../static/assets/img/driver-service-1.png"
                                                 th:src="@{/assets/img/status.svg}"
                                                 alt="driver-service">
                                            <span th:text="${travel.getStatus().getStatusName()}">Status</span>
                                        </li>
                                        <li><img src="../static/assets/img/driver-service-1.png"
                                                 th:src="@{/assets/img/free_seats.svg}"
                                                 alt="driver-service">
                                            <span th:text="${travel.getFreeSeats() - travel.getUsersApprovedForTheTravel().size()} + ' free seats available.'">Max. 2 passengers in back seats</span>
                                        </li>
                                        <li><img src="../static/assets/img/driver-service-2.png"
                                                 th:src="@{/assets/img/comments.svg}"
                                                 alt="driver-service">
                                            <span th:unless="${travel.getComment()==null}"
                                                  th:text="${travel.getComment()}">Pets are not allowed in the Car</span>
                                        </li>
                                    </ul>

                                </div>
                                <div class="search-result-item__price">
                                    <div class="price-box">
                                        <div class="price-box__time"
                                             th:text="${#temporals.format(travel.getDepartureTime(), 'yyyy-MMM-dd hh:mm a')}">
                                            2:00 PM
                                        </div>
                                        <div class="price-box__price">
                                            <div class="current-price"
                                                 th:text="${travel.getStartingPointCity() + ' - '+ travel.getEndingPointCity()}">
                                                $19.50
                                            </div>
                                            <a class="uk-button uk-button-danger" type="button"
                                               th:href="@{/travels/{id}(id=${travel.getTravelId()})}">View
                                            </a>
                                            <a th:if="${travel.getDriver().getUserId() == loggedUser.getUserId()}
                                            and ${travel.getStatus().getTravelStatusId() == 1 }"
                                               class="uk-button button-cancel margin-top-10px white-color" type="button"
                                               th:href="@{/travels/__${travel.getTravelId()}__/cancel-travel}">Cancel
                                            </a>
                                            <a th:if="${travel.getDriver().getUserId() == loggedUser.getUserId()}
                                            and ${travel.getStatus().getTravelStatusId() == 1 }"
                                               class="uk-button button-approve margin-top-10px" type="button"
                                               th:href="@{/travels/__${travel.getTravelId()}__/complete-travel}">Complete
                                            </a>

                                            <a th:unless="${travel.getDriver().getUserId() == loggedUser.getUserId()}"
                                               th:if="${travel.getStatus().getTravelStatusId() == 1}"
                                               class="uk-button button-decline margin-top-10px"
                                               type="button"
                                               th:href="@{/travels/__${travel.getTravelId()}__/passengers/__${loggedUser.getUserId()}__/cancel-participation}">
                                                Unsubscribe
                                            </a>
                                            <a th:unless="${travel.getDriver().getUserId() == loggedUser.getUserId()}"
                                               th:if="${travel.getStatus().getTravelStatusId() == 3}"
                                               class="uk-button uk-button-danger margin-top-10px"
                                               type="button"
                                               th:href="@{/travels/{id}(id=${travel.getTravelId()})}">Feedback
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </main>

    <!-- Additional blocks-->
    <div th:replace="~{Fragments.html :: additional-blocks}"></div>
    <!--Footer-->
    <footer th:replace="~{Fragments.html :: footer}"></footer>
</div>
<div th:replace="~{Fragments.html::script}"></div>
</body>

</html>